/*  # custom scroll # */

/* width */
html,
body {
  scrollbar-color: unset !important;

  ::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--p-background);
    // background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

/* # custom scroll # */

.Polaris-Backdrop {
  z-index: 9999999 !important;
}

.Polaris-Modal-Dialog__Container {
  z-index: 99999999 !important;
}

@media screen and (max-width: 48rem) {
  ::-webkit-scrollbar {
    width: 3px;
  }
}