// Padding classes
@for $i from 1 through 6 {
  .p-#{$i} {
    padding: #{$i * 0.25rem}; // Adjust spacing unit as needed
  }

  .py-#{$i} {
    padding-top: #{$i * 0.25rem};
    padding-bottom: #{$i * 0.25rem};
  }

  .px-#{$i} {
    padding-left: #{$i * 0.25rem};
    padding-right: #{$i * 0.25rem};
  }

  .pt-#{$i} {
    padding-top: #{$i * 0.25rem};
  }
}

// Display classes
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

// Margin classes
@for $i from 1 through 6 {
  .m-#{$i} {
    margin: #{$i * 0.25rem};
  }

  .my-#{$i} {
    margin-top: #{$i * 0.25rem};
    margin-bottom: #{$i * 0.25rem};
  }

  .mx-#{$i} {
    margin-left: #{$i * 0.25rem};
    margin-right: #{$i * 0.25rem};
  }

  .mt-#{$i} {
    margin-top: #{$i * 0.25rem};
  }

  .mr-#{$i} {
    margin-right: #{$i * 0.25rem};
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 0.25rem};
  }

  .ml-#{$i} {
    margin-left: #{$i * 0.25rem};
  }
}

// Gap classes
@for $i from 1 through 8 {
  .gap-#{$i} {
    // Adjust loop range and unit as needed
    gap: #{$i * 0.25rem};
  }
}

// attribute display: flex
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}
.items-around {
  align-items: space-around;
}
.items-between {
  align-items: space-between;
}
.items-stretch {
  align-items: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-1 {
  flex: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.p-r {
  position: relative;
}
.p-a {
  position: absolute;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.4;
}

.truncate-two-lines {
  @extend .truncate;
  -webkit-line-clamp: 2;
}

.box-equal {
  .Polaris-ShadowBevel {
    height: 100%;
  }
  .Polaris-Box {
    display: flex;
  }
}

.txt-dotted {
  border-bottom: 1px dotted #000;
}
